@font-face {
  font-family: 'CartographCFRegular';
  src: local('CartographCFRegular'),
    url(./assets/fonts/CartographCF-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Medium';
  src: local('Medium'), url(./assets/fonts/Medium.otf) format('opentype');
}

body {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'CartographCFRegular', monospace;
}
